.header {
  border-bottom: 1px black solid;
}

h1 img {
  margin-bottom: 8px;
}

.right-container {
  margin-top: 20px;
}

.spinner {
  display: block;
  height: 50%;
  width: 50%;
  margin: 0 auto;
}

view-selector {
  margin-top: 15px;
}

/* Date Picker */

.custom-slider.rzslider .rz-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.custom-slider.rzslider .rz-pointer:after {
  display: none;
}

.custom-slider.rzslider .rz-bubble {
  bottom: 14px;
}

/* Stocks */

stocks tbody {
  font-size: 12px;
}
