body {
  margin: 0 -400px;
background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(left, #f7f7f7 14%, #d8ffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #f7f7f7 14%,#d8ffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #f7f7f7 14%,#d8ffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d8ffff',GradientType=1 ); /* IE6-9 */
}

h1 img {
  margin-bottom: 8px;
}

.right-container {
  margin-top: 20px;
}

.spinner {
  display: block;
  height: 50%;
  width: 50%;
  margin: 0 auto;
}

view-selector {
  margin-top: 15px;
}

/* Date Picker */

.custom-slider.rzslider .rz-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.custom-slider.rzslider .rz-pointer:after {
  display: none;
}

.custom-slider.rzslider .rz-bubble {
  bottom: 14px;
}

/* Stocks */

stocks tbody {
  font-size: 12px;
}
